body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.home-image{
    background-image: url('assets/group-35_2021-11-23/group-35@3x.png');
    background-size: cover;
    position: relative;
}

.brand_logo{
    width: 175px;
    height: 130px;
    margin-left: 17px;
}


#navigation_bar{
    margin: 0;
    width: 100%;
}

.border{
    border: 2px solid black;
}

.navbar-border{
    border-radius: 20px;
    border: solid 1px white;
    padding: 5px 20px;
    margin: 5px;
}

.navbar_item{
    margin: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255);
}

.navbar_item_img{
    margin-top: 10px;
    margin-left: 5px;
}


.first_content{
    color: white;
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
}

.first_content h1{
    font-family: Roboto;
    font-size: 50px;
    font-weight: 500;
}

.first_content p{
    font-family: Roboto;
    font-size: 16px; 
    margin-left: 5px;
    line-height: .1cm;
    color: rgba(255, 255, 255, 0.7); 
}

.center{
    color: white;
    position: absolute;
    top: 350px;
    left: 45%;
    background-color: #006072;
    display: flex;
    justify-content: center;
    text-align: center;
}

a:hover{
    text-decoration: none;
    color: red;
}

.home-grid{
    position: absolute;
    width: 100%;
    top: 450px;
}

img.Forma-1-copy {
    width: 52px;
    height: 55px;
    margin: 70px 5px 10px 130px;
    object-fit  : contain;
}

.Enter-your-postcode {
    margin: 30px 5px 5px 90px;
    font-family: Roboto;
    color: #fff;
}

img.step-arrow1 {
    width: 85px;
    height: 23px;
    margin: 80px 10px 57px 0px;
    object-fit: contain;
}

img.Group-22 {
    width: 57px;
    height: 60px;
    margin: 50px 0 5px 30px;
}

.Select-your-plan {
    margin: 0 15px 30px 100px;
    font-family: Roboto;
    text-align: center;
    color: #fff;
}

img.step-arrow1-copy {
    width: 85px;
    height: 23px;
    margin: 80px 10px 32px 5px;
}

img.Forma-1 {
    width: 54px;
    height: 54px;
    margin: 65px 10px 30px 25px;
}

.Pay-securely-online {
    width: 169px;
    height: 19px;
    margin: 15px 0px 30px 95px;
    font-family: Roboto;
    color: #fff;
}

img.step-arrow2 {
    width: 85px;
    height: 23px;
    margin: 80px 10px 57px 20px;
}

img.Forma-1 {
    width: 62px;
    height: 63px;
    margin: 60px 10px 20px 30px;
}

/* img.Forma-2 {
    width: 62px;
    height: 63px;
    margin: 50px 10px 20px 30px;
} */

.Enjoy-amazing-service {
    width: 197px;
    height: 19px;
    margin: 0px 0px 30px 90px;
    font-family: Roboto;
    color: #fff;
}

img.Shape-1 {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 670px;
    left: 50%;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
}



/* 2nd Sections */


.content_Title{
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    color:black;
}

.Img_Content_1{
    margin-left: 76px;
    margin-top: 35px;
}

.Experience-Vetted-Professionals {
    font-family: Roboto;
    margin-left: -35px;
    font-size: 30px;
    font-weight: bold;  
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    color: #565656;
  }

  .dominate-the-industry-in-scale-and-scope-with-an-adaptable-ext {
    margin-left: -80px;
    font-family: Roboto;
    font-size: 17px;
    margin-top:10px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: center;
    color: #565656;
  }

  .Secure-Online-Payment{
    font-family: Roboto;
    margin-left: -35px;
    font-size: 30px;
    font-weight: bold;  
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    color: #565656;
  }

  .Payment-is-processed-securely-online-Customers-pay-safely-onli{
    margin-left: -29px;
    font-family: Roboto;
    font-size: 17px;
    margin-top:43px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: center;
    color: #565656;
  }

  .Dedicated-Customer-Service{
    font-family: Roboto;
    margin-left: -53px;
    font-size: 30px;
    font-weight: bold;  
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    color: #565656;
  }
  
  .to-our-customers-and-are-guided-in-all-we-do-by-their-needs-Th{
    margin-left: -75px;
    font-family: Roboto;
    font-size: 17px;
    margin-top:-31px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    text-align: center;
    color: #565656;
  }

.Lorem-ipsum-dolor-sit-amet-consectetur {
    width: 376px;
    height: 59px;
    margin: 104px 27px 18px 47px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
  }

  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Donec {
    width: 630px;
    height: 186px;
    margin: 18px 97px 47px 47px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #4f4f4f;
  }


  /* 4 Sections */

  .Our-Blog {
    width: 100%;
    height: 38px;
    margin: 15px 0px 80px 0px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #4f4f4f;
  }

  .Lorem-ipsum-dolor-sit-amet {
    width: 246px;
    height: 19px;
    margin: 10px 5px 7px 0px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    color: #3d4046;
  }

  .January-28-2019 {
    width: 99px;
    height: 12px;
    margin: 5px 23px 14px 0px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    color: #a3a3a3;
  }

  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Sed-fe {
    width: 250px;
    margin: 14px 10px 5px 2px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #565656;
  }

  .Read-the-Post {
    width: 110px;
    height: 14px;
    margin: 20px 5px 0 5px;
    font-family: Roboto;
    font-size: 15px;
    color: #4f4f4f;
  }

.card_box_1{
      margin-left: 160px;
      /* box-shadow: 5px 5px #3d4046; */
}

.card_box_2{
    margin-left: 110px;
}

.card_box_3{
    margin-left: 20px;
}

.Blog{
    margin: 20px;
    padding: auto;
}



/* What our Customer Say */

.Rectangle-10 {
    width: 1560px;
    height: 743px;
    margin: 10px 0 0;
    padding: 65px 0 0;
    background-color: #f4f5f8;
}




.What-Our-Customers-Say {
    width: 100%;
    height: 38px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: var(--greyish-brown);
}

.Rounded-Rectangle-506-copy {
    width: 357px;
    height: 370px;
    margin: 59px 43px 42px 83px;
    padding: 0 19px 0 0;
    border-radius: 4px;
    box-shadow: 0 0 30px 0 #e4ebf0;
    background-color: var(--white);
}

.Rounded-Rectangle-506-copy-2 {
    width: 3px;
    height: 370px;
    margin: 15px 35px 0 0;
    border-radius: 1px;
    background-color: #1d7a8c;
}

.home_lawyer2_ourteam_2 {
    width: 70px;
    height: 66px;
}

.home_lawyer2_ourteam_2 img {
    width: 70px;
    height: 70px;
    margin: 50px 18px 27px 35px;
}

.Lary-Watson {
    width: 90px;
    margin: 0px 10px 2px 120px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: bold;
    color: var(--greyish-brown);
}

.Manchester {
    width: 74px;
    margin: 4px 10px 20px 110px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: right;
    color: #8e8e8e;
  }

  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Sed {
    width: 200px;
    height: 118px;
    margin: 27px 11px 30px 0px;
    font-family: Roboto;
    font-size: 16px;
    color: #565656;
}

  .Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Sed-fe {
    width: 288px;
    height: 120px;
    margin: 27px 11px 10px 36px;
    font-family: Roboto;
    font-size: 16px;
    color: #565656;
}

.Read-More {
    width: 85px;
    height: 14px;
    margin: 30px 1px 40px 37px;
    font-family: Roboto;
    font-size: 18px;
    text-align: left;
    color: #565656;
  }

.Ellipse-649 {
    width: 48px;
    height: 48px;
    margin: 40px 59px 29px 62px;
    padding: 5px 14px 10px;
    border-radius: 50%;
    background-color: #525252;
}

img.Forma-2 {
    width: 20px;
    height: 10px;
    color: white;
    background-color: var(--pale-grey);
}

.GET-OUR-NEWSLETTER {
    width: 190px;
    height: 13px;
    margin: -27px 110px 5px 608px;
    font-family: Roboto;
    font-size: 14px;
    color: #353548;
    font-weight: bold;
}

img.Layer-598 {
    width: 52px;
    height: 50px;
    margin: -29px 15px 12px 1319px;
    object-fit: contain;
}

.Rounded-Rectangle-649 {
    width: 203px;
    height: 40px;
    margin: -48px 6px 43px 580px;
    padding: 10px 96px 16px 33px;
    border-radius: 20px;
    border: solid 1px #565656;
    background-color: var(--pale-grey);
}

.Your-Email {
    width: 86px;
    font-family: Roboto;
    font-size: 14px;
    color: #565656;
}

.Rounded-Rectangle-649-copy {
    width: 88px;
    height: 40px;
    margin: -83px 56px 53px 804px;
    padding: 11px 21px 16px 23px;
    border-radius: 20px;
    background-color: #ff7b6d;
}

.Submit {
    width: 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    color: var(--white);
}


/* Footer */

.footer_section {
    background-color:  #111;
    height: 120px;
    
}

.footer_navbar{
margin-top: -54px;
margin-left: 490px;
width: 100%;
} 

.footer_navbar a{
text-decoration: none;
margin-top:20px;
color:#f4f5f8;
padding: 10px;
}

.footer_navbar .footer_social_media{
  margin-left: 62%;
  margin-top: -31px;
}

.footer_Copyright{
width: 104%;
height: 64px;
margin-top:3%;
margin-left: -25px;
}

.footer_Copyright .footer_content{
text-align: center;  
color: #9ba0a3; 
font-family: Roboto;
padding: 20px;
}

.footer_Copyright .footer_but button{
width: 99px;
height: 40px;
float: right;
margin-right: 20px;
margin-top: -68px;
border-radius: 20px;
border:none;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 2;
color: #4f4f4f;
background-color: #eed507;
}

.footer_social_media img{
    padding: 5px;
}


